.text {
  --fs-scale: 1;
  font-weight: 500;
}

/* Sizes */
.md {
  font-size: calc(1.8rem * var(--fs-scale));
  line-height: calc(2.8rem * var(--fs-scale));
}

/* Colors */
.light {
  color: var(--clr-white-400);
}

.grey {
  color: var(--clr-grey-400);
}

.dark {
  color: var(--clr-black-400);
}

/* Tablet */
@media (max-width: 768px) {
  .text {
    --fs-scale: 0.85;
  }
}

/* Phone */
@media (max-width: 375px) {
  .text {
    --fs-scale: 0.7;
  }
}
