.text {
  font-weight: 500;
}

/* Sizes */
.md {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

/* Colors */
.light {
  color: var(--clr-black-400);
}

.dark {
  color: var(--clr-grey-400);
}
