.typography {
  color: var(--color-Heading-light);
  line-height: var(--line-height);
  font-weight: var(--font-weight-regular);
}

/* Font family */
.primary {
  font-family: var(--font-family-primary);
}

.secondary {
  font-family: var(--font-family-secondary);
}

/* Sizes */
.xxl {
  font-size: var(--font-size-2xl);
}
.xl {
  font-size: var(--font-size-xl);
}

.lg {
  font-size: var(--font-size-lg);
}

.md {
  font-size: var(--font-size-md);
}

.sm {
  font-size: var(--font-size-sm);
}

.xs {
  font-size: var(--font-size-xs);
}

.xxs {
  font-size: var(--font-size-2xs);
}
.xxxs {
  font-size: var(--font-size-3xs);
}

/* Colors */
.light {
  color: var(--color-Heading-light);
}

.dark {
  color: var(--color-Heading-dark);
}
.accent {
  color: var(--color-Heading-accent);
}

/* Utilities */
.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: var(--font-weight-bold);
}
