.heading {
  font-weight: 700;
  margin: 0;
}

/* Sizes */
.lg {
  font-size: 5.6rem;
  line-height: 7rem;
}

.md {
  font-size: 4rem;
  line-height: 5.1rem;
}

.sm {
  font-size: 3.2rem;
  line-height: 4rem;
}

/* Colors */
.dark {
  color: var(--clr-black-400);
}

.grey {
  color: var(--clr-grey-400);
}

.light {
  color: var(--clr-white-400);
}
