.heading {
  font-weight: 700;
}

/* Sizes */
.lg {
  font-size: 56px;
  line-height: 70px;
}

.md {
  font-size: 40px;
  line-height: 51px;
}

.sm {
  font-size: 32px;
  line-height: 40px;
}

/* Colors */
.dark {
  color: var(--clr-black-400);
}

.light {
  color: var(--clr-grey-400);
}
