:root {
  /* Accent */
  --clr-purple-400: #755cde;
  --clr-pink-400: #f39e9e;
  --clr-yellow-400: #f6a560;
  --clr-orange-400: #eb7565;
  --clr-teal-400: #61c4b7;
  --clr-purple-400: #552049;

  /* Neutral */
  --clr-white-400: #fff7f0;
  --clr-grey-400: #7a746e;
  --clr-black-400: #030303;
}
