.container {
  max-width: 730px;
  margin: 0 auto;
}

.padded {
  padding: 16px;
}

.dFlex {
  display: flex;
}

.inline {
  display: inline;
}

.hFlow > * {
  margin-right: 6px;
}

.hFlow > :last-child {
  margin-right: 0;
}
