:root {
  --color-purple-400: hsl(231deg 77% 90%);
  --color-black-400: hsl(230deg 35% 7%);
  --color-white-400: hsl(0deg 0% 100%);
  --color-white-translucent: hsl(0deg 0% 100% / 50%);

  /* Navbar */
  --color-NavItem-counter: var(--color-white-400);
  --color-NavItem-border-active: var(--color-white-400);
  --color-NavItem-border-hover: var(--color-white-translucent);

  /* Heading */
  --color-Heading-light: var(--color-white-400);
  --color-Heading-dark: var(--color-black-400);
  --color-Heading-accent: var(--color-purple-400);

  /* Button */
  --color-Button-background-color-primary-default: var(--color-white-400);
  --color-Button-text-primary-default: var(--color-black-400);
}
