.home {
  background: url('../../assets/images/home/background-home-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 48px;

  overflow: hidden;
  position: relative;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.textContainer {
  text-align: center;
}
