.container {
  max-width: 110rem;
  margin-inline: auto;
}

.padded {
  padding: 2rem;
}

.textContainer {
  max-width: 65ch;
  margin: 0 auto;
}

.dFlex {
  display: flex;
}

.textCenter {
  text-align: center;
}
