.text {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

/* Sizes */
.xxl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-md);
}
.xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-md);
}

.lg {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-md);
}

.md {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-md);
}

/* Colors */
.lighter {
  color: var(--color-text-secondary-default);
}

.light {
  color: var(--color-text-primary-default);
}

.dark {
  color: var(--color-heading-primary-default);
}
