.notification {
  padding: 16px;

  border-radius: 8px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 13px;
}

.activeBg {
  background-color: var(--color-notificationItem-background-primary-active);
}

.active > :last-child:after {
  content: '';
  position: absolute;
  transform: translate(7px, 130%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-dot-primary-default);
}

.avatar,
.image {
  width: 39px;
}

.textWrapper {
  margin-bottom: 6px;
}

@media (min-width: 1440px) {
  .avatar,
  .image {
    width: 45px;
  }
}
